<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.utl.ist.airdesk.airdesk" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateWorkSpace"
            android:label="@string/title_activity_create_work_space" >
        </activity>
        <activity
            android:name=".MainAirDesk"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewWorkspace"
            android:label="@string/title_activity_view_workspace" >
        </activity>
        <activity
            android:name=".RegisterPage"
            android:label="@string/title_activity_register_page" >
        </activity>
    </application>

</manifest>
